.container
  .auth-form
    %h2.auth-form__title パスワードの再設定
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .auth-form__field
        = f.label :password, "新しいパスワード", class: "auth-form__label"
        - if @minimum_password_length
          %span.auth-form__hint= "（#{@minimum_password_length}文字以上）"
        = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "auth-form__input"
      .auth-form__field
        = f.label :password_confirmation, "新しいパスワード（確認）", class: "auth-form__label"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "auth-form__input"
      .auth-form__actions
        = f.submit "パスワードを変更する", class: "auth-form__submit"
    = render "devise/shared/links"
